@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables.scss';


.wordImg {
    height: 150px;
    width: 90%;
    margin-top: 10px;
}

.word {

    color: var(--text-color);
    border: double 2px gray;
    margin-top: 30px;
    width: 20vw;
    height: 20em;
    text-align: center;
    @include font-style-regular-text;
    padding-bottom: 10px;
}