@import '..//assets/styles/mixins.scss';
@import '..//assets/styles/variables.scss';


.wordsListTableContainer {
    margin-top: 50px;  
    background-color: rgb(12, 77, 180);
}

.inputTable {

    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    border: var(--border-table-list);
    background-color: var(--remainCard-background);
    margin-top: 50px;
    }
    
    .idInput, .englishInput, .transcriptionInput, .russianInput, .tableButtons {
    width: 19%;
    border-radius: 6px;
    @include font-style-regular-text;
    
    }

    .idInput:invalid {
        border-color: red;
       
    } 
     .englishInput:invalid {
        border-color: red;
    
    } 
      .transcriptionInput:invalid {
        border-color: red;
    } 
       .russianInput:invalid {
        border-color: red;
    } 

    .idInput:valid {
       border: var(--border-table-list);
    } 

    .englishInput:valid {
        border: var(--border-table-list);
     } 
    
    .transcriptionInput:valid {
        border: var(--border-table-list);
     } 
    
    .russianInput:valid {
        border: var(--border-table-list);
     } 


    
    .tableButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .listButton {
        background: var(--button-background-color);
        @include font-style-regular-text;
        border: var(--border-button);
        border-radius: 6px;
    }

    

