@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables.scss';

.transButton {
    margin-top: 30px;
    background: var(--button-background-color);
    @include font-style-button-text;
    border: var(--border-button);
    width: 60%;
    -webkit-transition: all 2.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 2.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.transButton:hover {
    -webkit-transform: translate(10px);
    transform: translate(5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}